@mixin u-container-items-spacing($item, $spacing-x, $spacing-y:null) {
  /* stylelint-disable declaration-block-no-redundant-longhand-properties */

  margin-left: -$spacing-x / 2; 
  margin-right: -$spacing-x / 2; 
  margin-top: if($spacing-y, -$spacing-y / 2, null); 
  margin-bottom: if($spacing-y, -$spacing-y / 2, null); 

  @at-root {
    @if type-of($item) == 'map' {
      // if map (wrapped in () as (key: value, ...) with any keys), we accept $item as several selectors
      $item-selectors: $item;
      @each $item-key, $item-selector in $item-selectors {
        #{$item-selector} {
          padding-left: $spacing-x / 2; 
          padding-right: $spacing-x / 2; 
          padding-top: if($spacing-y, $spacing-y / 2, null); 
          padding-bottom: if($spacing-y, $spacing-y / 2, null); 
        }
      }
    } @else {
      // if not map (not wrapped in ()), we accept $item as one selector
      $item-selector: $item;
      #{$item-selector} {
        padding-left: $spacing-x / 2; 
        padding-right: $spacing-x / 2; 
        padding-top: if($spacing-y, $spacing-y / 2, null); 
        padding-bottom: if($spacing-y, $spacing-y / 2, null); 
      }
    }
  }
}
