@mixin u-center($mode: 'vertically') {
  position: absolute;
  @if $mode == 'horizontally' {
    left: 50%; 
    transform: translateX(-50%);
  } @else if $mode == 'vertically' {
    top: 50%; 
    transform: translateY(-50%);
  } @else {
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
  } 
}
